@import ems.models.SmsDisplay

@(sms: SmsDisplay, emptyClass: String = "")

<a id="@sms.id" href="#" class="list-group-item clearfix @emptyClass">
    <h4 class="list-group-item-heading">@sms.from</h4>
    <span class="list-group-item-text">@sms.content</span>

    <span class="pull-right">
        <button class="btn btn-xs btn-info">
            @sms.creationDate
        </button>
        <button class="status btn btn-xs btn-info @sms.statusCode">
            <span>@sms.status</span>
            <i class=""></i>
        </button>
    </span>
</a>
