@import ems.views.html.mainAuth
@import org.joda.time.DateTime
@import ems.models.SmsDisplay
@import securesocial.core.{BasicProfile, RuntimeEnvironment}
@import ems.models.{User, UserInfo}


@(smsList: List[SmsDisplay], user: User, userInfo: UserInfo)(implicit request: RequestHeader, env: RuntimeEnvironment[User])

@scripts = {
    <script type="text/javascript" charset="utf-8" src="@ems.controllers.routes.JavascriptController.javascriptRoutes()"></script>
    <script type="text/javascript" charset="utf-8" src="@ems.controllers.routes.JavascriptController.updatesJs()"></script>
}


@mainAuth("Sms forwardings", scripts, Some(user)){

    <div class="page-header">
        <h1>
            <span>
                @userInfo.phoneNumber match {
                    case Some(phoneNumber) => {
                        @userInfo.phoneNumber
                    }
                    case None => {
                        <a href="@ems.controllers.routes.AccountController.account">Please give us a phone number</a>
                    }
                }
            </span>
            <span> => </span>
            <span>@user.main.email.getOrElse("No email address")</span>
        </h1>

    </div>

    <div id="smsList" class="list-group">

    @if(smsList.isEmpty) {
          @ems.views.html.sms.listElement(SmsDisplay("", "", "", "", "No sms sent", "", "", "", "false"), emptyClass = "empty-sms")
    } else {
      @for(sms <- smsList) {
          @ems.views.html.sms.listElement(sms)
      }
    }
}
