@import securesocial.core.RuntimeEnvironment
@import play.api.data.Form
@import ems.views.html.mainAuth
@import ems.models.{User, PhoneNumber}
@import ems.controllers.AccountController._
@import helper.form._
@import ems.views.utils.Helpers._
@import ems.views.html.utils.alerts


@(form: Form[PhoneNumber])(implicit user: User, request: RequestHeader, env: RuntimeEnvironment[User], flash: Flash)


@mainAuth("Account", user = Some(user)){

    @alerts(flash, form)

    <ul class="list-group" >
        <li class="list-group-item">
            <p>
                @helper.form(action = ems.controllers.routes.AccountController.accountUpdate(), 'class -> "form-inline", 'role -> "form") {
                    <div class="form-group">
                        @helper.input(form("phoneNumber"), '_label -> "Please enter your phone number, like 5141234567") { (id, name, value, args) =>
                            <span>+1</span>
                            <input name="@name" id="@id" value="@value" @toHtmlArgs(args) class="form-control" type="phone" placeholder="Enter phone number">
                        }
                    </div>
                    <button type="submit" class="btn btn-default">Save</button>
                }
            </p>
        </li>
        <li class="list-group-item">You can send sms to this phone number: <strong>(438) 793-8597</strong></li>
        <li class="list-group-item">Name: @user.main.fullName.getOrElse("")</li>
        <li class="list-group-item">Logged in from: @user.main.providerId</li>
        <li class="list-group-item">Email: @user.main.email.map { email => @email }.getOrElse("Not Available")</li>
    </ul>

}

