@import securesocial.core.RuntimeEnvironment
@import play.api.data.Form
@import ems.views.html.mainAuth
@import ems.models.{User, PhoneNumber}
@import helper.form._
@import helper._
@import ems.views.html.utils.alerts
@import ems.views.html.utils.twitterBootstrapInput

@(form: Form[PhoneNumber], smsTarget: String, emailTarget: String)(implicit user: User, request: RequestHeader, env: RuntimeEnvironment[User], flash: Flash)


@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@scripts = {
    <script src="@routes.Assets.at("lib/jquery-validation/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/jquery-validation/additional-methods.min.js")" type="text/javascript"></script>
}

@mainAuth("Account", scripts = scripts, user = Some(user)){

	<div class="row">
		@flash.get("ERROR").map { message =>
			<div class="alert alert-dismissable alert-danger">
				<strong>@message</strong>
			</div>
		}

		@flash.get("SUCCESS").map { message =>
			<div class="alert alert-dismissable alert-success">
				<strong>@message</strong>
			</div>
		}
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Form</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-8">
					<div class="well form-horizontal">
						@helper.form(action = ems.controllers.routes.AccountController.accountUpdate(), 'id -> "accountForm") {
							<fieldset>
                                @inputText(form("phoneNumber"), 'class -> "form-control", '_label -> "Phone number")
							</fieldset>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-3">
									<button class="btn btn-primary" type="submit">Submit</button>
									<button class="btn btn-default reset">Reset</button>
								</div>
							</div>
						}
					</div>
                    <div class="well">You can send sms to this phone number: <strong>@smsTarget</strong></div>
                    <div class="well">You can send emails to this address: <strong>@emailTarget</strong></div>
                    <div class="well">Name: @user.main.fullName.getOrElse("")</div>
                    <div class="well">Logged in from: @user.main.providerId</div>
                    <div class="well">Email: @user.main.email.map { email => @email }.getOrElse("Not Available")</div>
				</div>
				<div class="col-lg-4">
					<div class="well">
					    @**********
						@sideBar(active)
					    **********@
					</div>
				</div>
			</div>

		</div>
	</div>

    <script type="text/javascript">

         var validator = $("#accountForm").validate({
            rules: {
                phoneNumber: {
                    required: true,
                    phoneUS: true,
                }
            },
            messages: {
                phoneNumber: {
                    required: "Enter your phone number",
                    phoneUS: "Enter valid phone number, like 5140000000"
                }
            }
        });

        $('.reset').on('click', function (e) {
            e.preventDefault();
            validator.resetForm();
            $("#accountForm")[0].reset();
        });

    </script>
}

