@import securesocial.core.RuntimeEnvironment
@import ems.views.html.mainAuth
@import ems.models.{User, PhoneNumber}
@import play.api.data.Form


@(form: Form[PhoneNumber])(implicit user: User, request: RequestHeader, env: RuntimeEnvironment[User], flash: Flash)


@mainAuth("Account", user = Some(user)){

    <div>
        <p>@flash.get("success")</p>
        <p>
            @helper.form(action = ems.controllers.routes.AccountController.accountUpdate()) {
                @helper.inputText(form("phoneNumber"))
                <button type="submit" name="action" value="edit">Save</button >
            }
        </p>
    </div>

    <ul>
        <li>User Id: @user.main.userId</li>
        <li>Fist name: @user.main.firstName.getOrElse("")</li>
        <li>Last name: @user.main.lastName</li>
        <li>Full name: @user.main.fullName.getOrElse("")</li>
        <li>Logged in from: @user.main.providerId</li>
        <li>Email: @user.main.email.map { email => @email }.getOrElse("Not Available")</li>
        <li>Authentication method: @user.main.authMethod</li>
    </ul>

    @user.main.oAuth1Info.map { info =>
    <h2>OAuth1 Info</h2>

    <ul>
        <li>Token: @info.token</li>
        <li>Secret: @info.secret</li>
    </ul>
    }

    @user.main.oAuth2Info.map { info =>
    <h2>OAuth2 Info</h2>

    <ul>
        <li>Access Token: @info.accessToken</li>
        @info.tokenType.map { t => <li>Token Type: @t</li> }
        @info.expiresIn.map { exp => <li>Expires in: @exp seconds</li>}
        @info.refreshToken.map { rt => <li>Refresh Token: @rt</li>}
    </ul>
    }

}

