@import ems.models.User


@()(implicit user: Option[User])


@mainAuth("Welcome"){
    <h2></h2>
    <p></p>

    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>This tool transforms sms into emails</p>
    </div>

    @user match {
        case Some(user) => {
            <p>
                <a href="@ems.controllers.routes.SmsController.list()" class="btn btn-primary btn-lg" role="button">
                    See your sms
                </a>
            </p>
        }
        case None => {
            <p>
                <a href="@securesocial.controllers.routes.LoginPage.login()" class="btn btn-primary btn-lg" role="button">
                    Login
                </a>
            </p>
        }
    }
}