@import ems.models.User
@import ems.controllers.utils.Context
@import io.prismic.Document


@()(implicit user: Option[User], ctx: Context)


@mainAuth("Welcome", user = user){

    <div class="jumbotron">
        @ctx.documents("welcome").headOption.map { doc => @Html(doc.html) }
    </div>

    @user match {
        case Some(user) => {
            <p>
                <a href="@ems.controllers.routes.MessageController.list()" class="btn btn-primary btn-lg" role="button">
                    See your messages
                </a>
            </p>
        }
        case None => {
            <p>
                <a href="@ems.controllers.auth.routes.LoginController.login()" class="btn btn-primary btn-lg" role="button">
                    Login
                </a>
            </p>
        }
    }
}