@import securesocial.core.RuntimeEnvironment
@import ems.backend.DemoUser

@(title: String)(user: securesocial.core.BasicProfile)(content: Html)(implicit request: RequestHeader, env: RuntimeEnvironment[DemoUser])


@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import ems.views.html.main


@main(title)(content) {
    <ul class="nav navbar-nav navbar-right">
        <li>
            <button type="button" class="btn btn-default navbar-btn">Sign in</button>
        </li>
        <li>
            <p class="nav navbar-right navbar-text">Signed in as Mark Otto</p>
        </li>
    </ul>
}
