@import ems.models.ForwardingDisplay

@(forwarding: ForwardingDisplay, emptyClass: String = "")

@icon = {
    @if(forwarding.smsToEmail == "true") {
        glyphicon-phone
    }
    @if(forwarding.emailToSms == "true") {
        glyphicon-envelope
    }
}

@gridOffset = {
    @if(forwarding.emailToSms == "true") {
        col-md-offset-1
    }
}

@spinClasses = {
    @if(forwarding.status == "Sending") {
        fa fa-spinner fa-spin
    }
}

<div class="row">
    <div id="@forwarding.id" href="#" class="well well-sm @emptyClass col-md-11 @gridOffset">
        <h4 class="list-group-item-heading">
            <span class="glyphicon @icon"></span>
            <span>@forwarding.from</span>
        </h4>

        <span class="list-group-item-text">@forwarding.content</span>

        <span class="pull-right">
            <button class="btn btn-xs btn-info">
                @forwarding.creationDate
            </button>
            <button class="status btn btn-xs btn-info @forwarding.statusCode">
                <span>@forwarding.status</span>
                <i class="@spinClasses"></i>
            </button>

        </span>
    </div>
</div>