@import ems.views.html.mainAuth
@import org.joda.time.DateTime
@import ems.models.ForwardingDisplay
@import securesocial.core.{BasicProfile, RuntimeEnvironment}
@import ems.models.{User, UserInfo}


@(forwardingList: List[ForwardingDisplay], user: User, userInfo: UserInfo)(implicit request: RequestHeader, env: RuntimeEnvironment[User])

@scripts = {
    <script type="text/javascript" charset="utf-8" src="@ems.controllers.routes.JavascriptController.javascriptRoutes()"></script>
    <script type="text/javascript" charset="utf-8" src="@ems.controllers.routes.JavascriptController.updatesJs()"></script>
}


@mainAuth("Forwardings", scripts, Some(user)){

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="text-center">
                <span>
                    @userInfo.phoneNumber match {
                        case Some(phoneNumber) => {
                            @userInfo.phoneNumber
                        }
                        case None => {
                            <a href="@ems.controllers.routes.AccountController.account">Please give us a phone number</a>
                        }
                    }
                </span>
                <span class="glyphicon glyphicon-resize-horizontal"></span>
                <span>@user.main.email.getOrElse("No email address")</span>
            </h2>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div id="forwardingList" class="col-md-10 list-group">
            @if(forwardingList.isEmpty) {
                  @ems.views.html.forwarding.listElement(ForwardingDisplay("", "", "", "", "No forwarding", "", "", "", "false"), emptyClass = "empty-forwarding")
            } else {
              @for(forwarding <- forwardingList) {
                  @ems.views.html.forwarding.listElement(forwarding)
              }
            }
        </div>
        <div class="col-md-1"></div>
    </div>
}
