@import org.joda.time.DateTime

@(smsList: List[SmsDisplay])


@main("SMS sender") {

    <div class="page-header">
    <h1>Message list</h1>
    </div>

    <div id="smsList" class="list-group">

    @if(smsList.isEmpty) {
          @views.html.sms.listElement(SmsDisplay("", "", "No sms sent", ""))
    } else {
      @for(sms <- smsList) {
          @views.html.sms.listElement(sms)
      }
    }

    <script type="text/javascript" charset="utf-8" src="@routes.SmsService.updatesJs()"></script>

}
