@(smsList: List[Sms])


@main("SMS sender") {

    <div class="page-header">
    <h1>Message list</h1>
    </div>

    <div class="list-group">

    @if(smsList.isEmpty) {
          <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">No SMS sent</h4>
              <p class="list-group-item-text"></p>
          </a>
    } else {
      @for(sms <- smsList) {
          <a href="#" class="list-group-item clearfix">
              <h4 class="list-group-item-heading">@sms.from</h4>
              <span class="list-group-item-text">@sms.content</span>
              <span class="pull-right">
                  <button class="btn btn-xs btn-info">@sms.formattedCreationDate</button>
              </span>
          </a>
      }
    }

}
