@import ems.views.utils.Helpers


@(flash: Flash, form: Form[_])


@display(cssClass: String, glyphIcon: String, message: String) = {
    <div class="alert @cssClass">
        <span class="glyphicon @glyphIcon"></span>
        @message
        <a href="#" class="close" data-dismiss="alert">&times;</a>
    </div>
}

@for(
    alert <- Helpers.alerts
) {
    @flash.get(alert.code).map { message =>
        @display(alert.cssClass, alert.iconName, message)
    }
}

@for(
    error <- form.errors
) {
    @display(Helpers.warning.cssClass, Helpers.warning.iconName, error.message)
}


